<nav class="navbar navbar-expand-sm navbar-dark">
  <div class="navbar-nav mx-right" style="padding-left: 40px;">
    <img src="../../../assets/images/logo.jpg">
  </div>
  <div class="navbar-nav mx-auto">
    <!-- <h4>{{title}}</h4> -->
  </div>
  <div class="navbar-nav mx-left" style="padding-right: 40px;">
    <a *ngIf="displayUsecasePageLink" class="nav-link" (click)="navigate('train-landing')">Train</a>
    <a *ngIf="displayUsecasePageLink" class="nav-link" (click)="navigate('extract-landing')">Extract</a>
    <a class="nav-link" (click)="navigateToHome()"><i class="fas fa-home"></i></a>
  </div>
</nav>