.navbar {
  color: #FFFFFF;
  background-color: #0F2244;
  height: 50px;
  margin-bottom: 10px;
  img {
    height: 40px;
    width: 160px;
  }
  a:not(:last-child) {
    color: #FFFFFF;
    &:hover {
      color: #707070;
    }
  }
  a {
    cursor: pointer;
    i {
      font-size:24px;
      color: #FFFFFF;
      &:hover {
        color: #707070;
      }
    }
  }
}