
<div class="container">
    <h2 class="text-primary">Fetch Documents</h2>
    <div *ngIf="errorMessage !== ''"  [@enterAnimation] class="alert alert-danger" role="alert">
          {{errorMessage}}
    </div>
    <div>
        <div>
           <span *ngIf="isFetching">Fetching documents. Please wait...</span> 
           <span *ngIf="!isFetching && processedFiles <= 0">Fetched {{total}} file(s)</span> 
           <span *ngIf="processedFiles > 0">Processed {{processedFiles}} of {{total}} file(s) in {{processingTime}} second(s)</span>
        </div>
        
    </div>
    <div *ngIf="showExtract">
        <button [disabled]="disableExtract" class="btn btn-primary" (click)='extractJSON()'>{{extractText}}</button>
    </div>
        
    <p-dialog [(visible)]="display" [modal]="true" [positionTop]="0" [maximizable]="true" [style]="{width: '100%'}">
        <div class="content" [style.min-height.px]="imageH+100">
            <div style="flex: 0.75">
                <div  [style.min-height.px]="imageH" class="left">
                    <img src={{pdfSrc}} width="auto" height="{{imageH}}"/>
                </div>
            </div>
            <div style="flex: 1; overflow: auto;">
                <div [style.min-height.px]="imageH+4" class="right">
                      <div innerHTML={{jsonHTML}} style="overflow: scroll" [style.max-height.px]="imageH">  
                                                </div>
                 </div>
            </div>
        </div>
      
    </p-dialog>
    <p-table cellpadding="0" cellspacing="0"
    [ngClass]="'borderless'" [value]="docsArray">
    <ng-template  cellpadding="0" cellspacing="0" pTemplate="header">
        <tr [ngClass]="'rowHeader'">
            <th [ngClass]="'client'">Template Name</th>
            <th [ngClass]="'name'">Document Name</th>
            <th [ngClass]="'status'">Status</th>
            <th [ngClass]="'resultcell'" >Result</th>
        </tr>
    </ng-template>
    <ng-template  cellpadding="0" cellspacing="0" pTemplate="body" let-file>
        <tr [ngClass]="'row'">
            <td hidden>{{file.id}}</td>
            <td hidden>{{file.preview}}</td>
            <td valign="center" class="client">{{file.client}}</td>
            <td valign="center" class="name" innerHTML="{{file.name}}"></td>
            <td valign="center" class="status" [class.loading]="file.status === 'In progress'"
            [class.error]="file.status === 'Unable to fetch data'">{{file.status}}</td>
            <td valign="top" class="resultcell" [ngClass]="file.json === '' ? 'hide': 'show' " (click)="open(file)">
                <div innerHTML='{{formatJSON(file.json, "resultTable")}}'></div>
                <p-button class="plusButton" icon="pi pi-plus" (onClick)="open(file)"></p-button>

            </td>
        </tr>
    </ng-template>
    </p-table>
    
</div>

 <!-- <div>
              <div [ngStyle]="{height:'300px', display: 'block', width: '50%', float: 'left'}">
                   <div innerHTML="{{jsonHTML}}"></div>
              </div>
              <div [ngStyle]="{height:'700px',  display: 'block', width: '50%', float: 'right'}">
                    <pdf-viewer [src]="'https://ml-endpointv1.firebaseapp.com/assets/pdfs/1.pdf'" 
                               
                    ></pdf-viewer>
              </div>
          </div> -->