.p-grid p-card .ui-card-body{
  padding: 0;
}
  .row:nth-child(1), .row:nth-child(1) .container{
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .row .form-container {
    width:100%;
    height:100%;
    float:left;
  }
  .template-panel{
    overflow-y: auto;
    width: auto;
    position: relative;
  }
  .p-grid p-card .ui-card {
    background: #FFFFFF;
    box-shadow: 10px 10px 16px -11px rgba(0, 0, 0, 0.55);
    border: solid 1px #D4D4D4;
}
  .ui-card-body{ 
  padding: 0;
  }
  .ngx-file-drop__drop-zone[_ngcontent-c4]{
    border-color: #102244 !important;
  }
  .ngx-file-drop__content{
  
    color: #102244 !important;
  }
  .open-close-container {
    border: 1px solid #dddddd;
    margin-top: 1em;
    padding: 20px 20px 0px 20px;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
  }
  .row .container .p-grid{
    justify-content: center;
    display: flex;
    margin: 0;
  }
 
  .form-container.noborder{
    border-top: none;
    padding-top: 20px;
  }
  .form{
    margin-bottom: 30px;
  }
  .p-grid:hover{
    cursor: pointer;
  }
  .p-grid{
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  }
  .container-fluid{
    max-width: 1300px;
  }
  .ui-card-body{
  padding: 0;
  }
  .p-grid p-card img {
  width: 100%;
  height: 180px;  
  }
  .template-form{
    display: flex;
    margin: 0px auto 20px auto;
    border: solid 2px #eee;
    padding: 20px;
    border-radius: 20px;
  }
  .template-form .wrapper{
    margin: 0 auto;
  }
  .template-form .wrapper .lbl{
    text-align: right; 
    font-size: 18px; 
    font-weight: bold; 
    line-height: 30px; 
    padding-right: 20px; 
    display:inline-block;
  }
  .radiobtns label{
    cursor: pointer;
    font-size: 16px;
  
  }
  .radiobtns span{
    cursor: pointer; 
    font-size: 16px;
    padding-left: 10px;
  }
  .form{
    border: solid 2px #eee;
    padding: 5px 10px;
    border-radius: 20px;
    max-width: 80%;
    margin: 0 auto;
  }
  .form button.controls{
    margin-left: 10px;
    background: #313131; 
    border: none; 
    font-size: 16px;
  }
  .form h2{
    margin-top: 10px;
  }
  .ctl{
    text-align: left;
  }
  .ctl label{
    font-size: 18px;
  }
  .radiobtns{
    display: inline-block;
    font-size: 18px;
  }
  .radiobtns .ctl{
    display: inline;
    padding: 0 10px;
  }
  
  .p-xl-2{
    width: unset;
  }
  .ui-card-body{
    padding: 0;
  }
  
  .p-grid:hover{
      cursor: pointer;
  }
  .p-grid{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .ui-card-body{
    padding: 0;
  }
  .p-grid p-card img {
    width: 100%;
    height: 180px;  
  }
  p-card {
    object-fit: cover;
    position: relative;
    text-align: center;
    margin-bottom: 60px;
  }
  .back{
    position: absolute; 
    right: 20px;
    top: 0;
  }

  .template-panel .parent{
    margin: 0 auto 50px auto;
    overflow-y: scroll; 
    max-width: 70%;
  }

  .template-panel .parent h3{
    font-size: 22px; 
     margin-bottom: 10px;
  }

  .template-panel .parent h4{
    font-size: 20px; 
    margin-top: 10px; 
    margin-bottom: 15px;
  }
  
  h6 {
    color: #0F2244;
    padding-top: 20px;
    position: absolute;
    text-align: center;
    width: 100%;
  }
  .ui-card-content{
    position: relative;
  }
  .p-grid p-card.selected .ui-card{
    border: 3px solid #0F2244;
  }
 
  .extractButton button, .trainButton button {
    margin-left: 15px;
    background-color: #0F2244;
  }
  .form-container button{
    background: #102244;
    color: #FFF;
    border: none;
  }
  p-checkbox .ui-chkbox-icon {
    background-color: #0F2244;
  }

