
 <p-progressBar mode="indeterminate" *ngIf="isLoading === true"></p-progressBar>
<div class="trainlanding">
  
  <div class="row">
    <h1>Usecases</h1>
   
    <div class="p-grid">
      <ng-container *ngFor="let usecase of usecases">
        <p-card [style]="{width: '200px'}" [ngStyle]="{'display':(!usecase.selected && isAnyUsecaseSelected) ? 'none' : '' }"
          class="p-sm-6 p-md-4 p-lg-3 p-xl-2" [ngClass]="{'selected': usecase.selected}" (click)="selectUsecase(usecase)">
          <img src="Card" src="{{publicURL}}{{usecase.image}}" pTooltip="{{usecase.Desc}}" tooltipPosition="top">
          <h6>{{usecase.name}}</h6>
        </p-card>
      </ng-container>
    </div>
  </div>

  <div class="row">
    <div class="template-panel" *ngIf="isAnyUsecaseSelected" [@enterAnimation]>
      <div class="heading">
        <h4>Select a Template</h4>
        <button class="btn btn-secondary" (click)='close()'
          id="close">Back</button>
      </div>
      <div *ngIf="errorMessage != ''" class="alert alert-danger" role="alert">
        {{errorMessage}}
      </div>
      <ng-container *ngIf="templates.length">
          <p-button class="train-button" label="Train" pTooltip="{{(selectedTemplates.length === 1) ? '' : 'Please select only one template'}}"
            [disabled]="!isAnyTemplateSelected" (click)="navigate('train')"></p-button>
        </ng-container>
      <div class="untrained-templates" *ngIf="untrainedTemplates.length">
        <h5>Untrained Template(s)</h5>
        <div class="p-grid">
          <ng-container *ngFor="let template of untrainedTemplates">
            <p-card [style]="{width: '200px'}" class="p-sm-6 p-md-4 p-lg-3 p-xl-2" [ngClass]="{'selected': template.selected}"
              (click)="selectTemplate(template)">
              <p-button class="plusButton" icon="pi pi-plus" (onClick)="showTemplatePreview(template)"></p-button>
              <img src="Card" src="{{publicURL}}{{template.image}}" pTooltip="{{template.Desc}}" tooltipPosition="top">
              <h6>{{template.name}}</h6>
            </p-card>
          </ng-container>
        </div>
      </div>
      <div class="trained-templates" *ngIf="trainedTemplates.length">
        <h5>Trained Template(s)</h5>
        <div class="p-grid">
          <ng-container *ngFor="let template of trainedTemplates">
            <p-card [style]="{width: '200px'}" class="p-sm-6 p-md-4 p-lg-3 p-xl-2" [ngClass]="{'selected': template.selected}"
              (click)="selectTemplate(template)">
              <p-button class="plusButton" icon="pi pi-plus" (onClick)="showTemplatePreview(template)"></p-button>
              <img src="Card" src="{{publicURL}}{{template.image}}" pTooltip="{{template.Desc}}" tooltipPosition="top">
              <h6>{{template.name}}</h6>
            </p-card>
          </ng-container>
        </div>
      </div>
     
      <app-modal></app-modal>
    </div>
  </div>
</div>