<h2 class="text-primary">Train {{selectedTemplateName}}</h2>
<div class="parent">
    <div class="preview">
        <img src="{{imagePath}}" />
    </div>
    <div class="form-container">
        <div class="form">
            <div class="form-group" [formGroup]="userFormGroup" *ngFor="let field of fieldKeys;let i = index;">
                <div class="label">
                    <label>{{field.name}}</label>
                </div>
                <div class="control">
                    <div *ngIf="field.type === 'scalar'">
                        <textarea rows="4" formControlName="{{field.name}}" class="form-control"></textarea>
                    </div>
                    <div *ngIf="field.type === 'table'">
                        <div formArrayName="{{field.name}}">
                            <div *ngFor="let name of userFormGroup.controls[field.name].controls; let i = index">
                                <input [formControlName]="i" type="text"/>
                                <button class="btn-secondary" (click)="removeItem(field.name,i)">-</button>
                            </div>
                            </div>
                        <button class="btn-primary" (click)="addItem(field.name)">+</button>
                    </div>
                </div>
            </div>
        <button type="submit"  class="btn-primary" (click)="onSubmit()">Submit</button>
        <button class="btn-primary" (click)="autopopulate()">Auto Populate</button>
     </div>
     <button class="btn-primary" (click)="switchPDF()">Next</button>
    </div>
</div>
<pre>{{trainJSON | json}}</pre>